@using System.Globalization
@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <button type="button" class="btn btn-link" @onclick="ChangeLanguage">@cultureName</button>
        <NavLink class="nav-link" href="login">
            Login
        </NavLink>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    string cultureName = CultureInfo.CurrentUICulture.Name;
    void ChangeLanguage() {
        if (cultureName == "pl-PL") {
            CultureInfo.CurrentUICulture = new CultureInfo("en-GB");
        }else {
            CultureInfo.CurrentUICulture = new CultureInfo("pl-PL");
        }

        cultureName = CultureInfo.CurrentUICulture.Name;
    }
}