@page "/recipes"

@using BlazorStart.Data
@inject RecipeService recipeService

@if (recipes == null)
{
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}
else
{
    <div class="row">
        @foreach (var recipe in recipes)
            {
                <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 ml-2 mb-2">
                    <img src="https://material-ui.com/static/images/cards/paella.jpg" class="card-img-top" alt="@recipe.RecipeName">
                    <div class="card-body">
                        <h5 class="card-title">@recipe.RecipeName</h5>
                        <p class="card-text">@recipe.RecipeDescription</p>
                        <NavLink class="btn btn-primary" href="@($"recipe/details/{recipe.Id}")">
                            Details
                        </NavLink>
                    </div>
                </div>
            }
    </div>
}

@code {
    RecipeModel[] recipes;

    protected override async Task OnInitializedAsync()
    {
        recipes = (await recipeService.SearchRecipes(string.Empty)).Items.ToArray();
    }
}
