html(lang="en")
    head
        title React 16
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500")
        link(rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css")
        script(src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js")
    body(style="margin:0; font-family: 'Roboto', sans-serif;")
        #container
            .loading(style="width: 90%; max-width: 300px; margin: 10px auto; font-size: 4em;") loading ...