@page "/recipes"

@using BlazorStart.Data
@inject RecipeService recipeService
@inject FavouriteService favouriteService

@if (recipes == null)
{
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}
else
{
    <div class="card shadow p-3">
        <div class="row">
            @foreach (var recipe in recipes)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card shadow-sm">
                            <NavLink href="@($"recipes/details/{recipe.Id}")">
                                <img src="https://material-ui.com/static/images/cards/paella.jpg" class="card-img-top" alt="@recipe.RecipeName">
                                <div class="card-body">
                                    <h5 class="card-title">@recipe.RecipeName</h5>
                                    <p class="card-text">@recipe.RecipeDescription</p>
                                </div>
                            </NavLink>
                            <div class="card-body">
                                <button type="button" class="btn btn-dark" @onclick="async () => { await ToggleFavourite(recipe.Id); }">
                                    <i class="fas fa-heart"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                }
        </div>
    </div>
}

@code {
    RecipeModel[] recipes;

    protected override async Task OnInitializedAsync()
    {
        var result = (await recipeService.SearchRecipes(string.Empty));

        if (result != null && result.Items != null) {
            recipes = result.Items.ToArray();
        }
    }

    async Task ToggleFavourite(string recipeId) {
        await Console.Out.WriteLineAsync(recipeId);
        await favouriteService.ToggleFavourite(recipeId);
    }
}
